*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #eee;
}

body{
    width: 100%;
    height: 100;
    background: linear-gradient(to right top, #434654, #37343e, #29242a, #191618, #000000);
}

a{
    text-decoration: none;
    color: #eee;
}

p{
    font-size: 1.8rem;
    font-weight: 300;
}

img{
    margin-top: 1rem;
    width: 25vw; 
    border-radius: 10%;
    box-shadow: 6px 7px 22px 7px rgba(0,0,0,0.94);
}

.container{
    
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position:relative;

}


li{
    margin: 0 2rem;
}

section{
    padding: 5rem 0 ;
}

.about{
    height: 100vh;
}
.section-heading{
    text-align: center;
    margin-top: 10rem;
}

.section-heading h1{
    font-size: 3.5rem;
    color: #d3fbd88a;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after{
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, .75);
}

.section-heading h1::before{
    width: 30rem;
    height: 3px;
    border-radius: .8rem;
}

.section-heading::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
}

.section-heading h6{
    font-size: 1.6rem;
    font-weight: 300;

}

header{
    width: 100%;
    height: 100vh
}

.landing-text{
    margin-top: 15%;
    width:100%;
    height: 100vh;
    text-align: center;
}

.landing-text h1{
    font-size: 14rem;
    font-family: 'Montana', sans-serif;
    background: linear-gradient(to top, #d3fbd8,  #555d7c);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}

.landing-text h6{
    font-size: 2rem;
    font-weight: 300;
    color: #d3fbd8;
}

.about .container{
    display: flex;
    align-items: center;
    justify-content:center;
}

.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}

.about-heading h1{
    font-size: 10rem;
    opacity: .4;
}

.about-heading h6{
    font-size: 2rem;
    font-weight: 300;
}   


.img-profile{
    flex: 1;
    margin-right: -20rem;
}

.about-details{
    flex: 1;
}

.social_media{
    margin-top: 5rem;
}

.social_media i {
    font-size: 4rem;
    transition: color 650ms;
    margin-right: 1em;
}

.social_media ul li{
    margin-left: 30%;
}

.fa-linkedin:hover{
    color: #63A8FF;
}

.fa-github:hover{
    color: #63A8FF;
}

.fa-envelope:hover{
    color: #63A8FF;
}

.my_skills{
    background: rgba(185, 185, 185, 0.15);
    box-shadow: 0 8px 32px 0 #555d7c9a;
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.skill{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.skill h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}

.progress_container{
    margin-left: 2rem;
    width:100%;
    background-color: rgba(0, 0, 0, .3);
}

.sk{
    text-align: center; 
    font-size: 13px;
    font-weight: bold;
    padding-top: 10px; 
    padding-bottom: 10px;
    color: #fff; 
}

.py{ width: 70%; background:#63A8FF}
.analysis{ width: 35%; background: #63A8FF}
.ml{ width: 50%; background:#63A8FF}
.dl{ width: 15%; background:#63A8FF}

.icon-container{
    width: 10rem;
    height: 10rem;
    border: 3px solid #555D7C;
    background-color: #434654;
    margin-bottom: 2rem;
    display: flex;
    padding: 1.2rem;
}

.icon-container span {
    color: #ffffff;
    margin: auto;
}

.project-items{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.project-items:last-child{
    margin-bottom: 0;
}

.img-profile{
    width: 50rem;
    flex: 1;
    
}

.proj-description{
    flex: 1;
    margin-left: 2rem;
}

.proj-description h6{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: .7;
    margin-top: 1rem;
}

.proj-description h1{
    color: #63A8FF;
    font-size: 3rem;
    font-weight: 300;
    margin:1rem 0;
}

.proj-description .cta{
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #63A8FF;
    transition: color 500ms;
}

.proj-description .cta:hover{
    color: #D3FBD8;
}


.has-margin-right{
    margin-right: 5rem;
}

.copyright{
    width: 100%;
    text-align: center;
    background: #555d7c91;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 2rem 0;
    position:relative
}

.get_cv{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background: #eee;
    top: -2.5rem;
    left: 5rem;
    border-radius: 100%;
    display: flex;
    cursor: pointer;
    animation: pulse 1s infinite;
}

.get_cv a{
    margin-left: 1.2rem;
    align-self: center;
}

.get_cv i {
    color: #555D7C;
    font-size: 3rem;
    margin: auto;
}

.up{
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display:flex;
    cursor: pointer;
    animation: pulse 2s infinite  ;
}

.up i {
    color: #555D7C;
    font-size: 2rem;
    margin: auto;
}

.copyright p{
    font: size 1.4rem; 
}

@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 #63A8FF
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0)
    }
    100%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
    }
}


@media screen and (min-width: 320px) and (max-width: 767px){
    .social_media{
        margin-top: 3rem;
    }

    .social_media i{
        font-size: 3.1rem;
        transition: color 650ms;
    }

    .social_media ul li{
        margin-left: 15%;
    }


    .img-profile img{
        height: 0;
        box-shadow: 0 0 0 0;
    }

    .proj-img{
        margin-left: 1rem;
    }

    img{
        align-items: flex-end;
    }

    .about-details h1{
        font-size: 8rem;
        margin-left: -.5em;
    }

    .about-details p{
        margin-left: -1em;
    }


}